.hello {
  &__page {
    display: flex;
    flex: 1;
    background-color: #101010;
    justify-content: center;
    align-items: center;
  }

  &__canvas {
    background: #101010;
    height: 100%;
    width: 100%;
  }
}